<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @question.course.name %>
</p>


<fieldset>
  <b>Question:</b>
  <%= @question.title %>
</fieldset>
	
<% if @web %>
<b>Previous Answers</b>
  <% @web.answers.each do |answer| %>
	<fieldset>
		<%= "A: #{answer.content}" %>
	</fieldset>
  <% end %>
<% end %>

<h1>New answer</h1>

<%= render 'form' %>

<%= link_to 'Back to Question', @question %>
